@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

/*--------------------------------------------------------------
# VARIABLES  
--------------------------------------------------------------*/

:root {
    --website-yellow: #e5a024;
    --website-light-yellow: #ffe4b3;
    --light-dark: #3d3d3d;
    --gray-hover: #9e9e9e;
    --heejin: #e50091;
    --hyunjin: #fcff23;
    --haseul: #0dbe80;
    --yeojin: #ff9915;
    --vivi: #ffd2d5;
    --kimlip: #da0013;
    --jinsoul: #0400da;
    --choerry: #bb00e7;
    --yves: #71000b;
    --chuu: #f7ab7d;
    --gowon: #13e6ac;
    --olivia: #393739;
}


/*--------------------------------------------------------------
# GENERAL  
--------------------------------------------------------------*/

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: var(--light-dark);
}

a {
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 2rem;
    font-size: 1rem;
}

span {
    font-weight: 700;
}

.nav-main-container {
    position: relative;
    width: 100%;
    z-index: 100;
}

.nav-main-container#index {
    top: 100%;
}

.preloader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fff;
    color: #000;
    z-index: 1000;
}

.preload-anim {
    border-radius: 50%;
    height: 4em;
    width: 4em;
    /* center */
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: -.5em 0;
    animation: moon 1s alternate infinite linear;
}

@keyframes moon {
    to {
        box-shadow: .5em 0;
    }
}


/*--------------------------------------------------------------
# UTILS  
--------------------------------------------------------------*/

.text-justify {
    text-align: justify;
}

.lift {
    -webkit-transition: -webkit-box-shadow .25s ease, -webkit-transform .25s ease;
    transition: -webkit-box-shadow .25s ease, -webkit-transform .25s ease;
    -o-transition: box-shadow .25s ease, transform .25s ease;
    transition: box-shadow .25s ease, transform .25s ease;
    transition: box-shadow .25s ease, transform .25s ease, -webkit-box-shadow .25s ease, -webkit-transform .25s ease;
}

.lift:hover {
    transform: translateY(-0.3rem) !important;
}

.hover-reveal-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
    color: white;
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    top: 0;
    left: 0;
    z-index: 100;
}

.hover-reveal-overlay:hover {
    opacity: 1;
}

.hover-reveal-overlay>span {
    font-size: 3rem;
}


/*--------------------------------------------------------------
# JUMBOTRON SECTION
--------------------------------------------------------------*/

.home-jumbotron .slide .video-slide {
    background-color: #000;
}

.home-jumbotron.loading .video-background {
    opacity: 0;
}

.home-jumbotron .image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    position: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: relative;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* opacity: 0.7; */
    z-index: 1;
}

#jumbotron-text {
    position: absolute;
    width: auto;
    top: 0;
    z-index: 5;
    color: rgb(255, 255, 255, 1);
    opacity: 1;
}

#jumbotron-title {
    font-family: 'Fjalla One', sans-serif;
}

.video-background {
    position: fixed;
    top: 50%;
    left: 0;
    padding-top: 56.25%;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 2s opacity ease;
    transition: 2s opacity ease;
    opacity: 1;
    overflow: hidden;
}

.video-foreground,
.video-background iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

@media (min-aspect-ratio: 16/9) {
    .video-background iframe {
        /* height = 100 * (9 / 16) = 56.25 */
        height: 56.25vw;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-background iframe {
        /* width = 100 / (9 / 16) = 177.777777 */
        width: 177.78vh;
    }
}


/*--------------------------------------------------------------
# ANIMATED SCROLL ICON 
--------------------------------------------------------------*/

.icon-scroll {
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 50px;
    left: 50%;
    opacity: 1;
    z-index: 5;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;
    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}


/*--------------------------------------------------------------
# NAVBAR 
--------------------------------------------------------------*/

.navbar {
    background-color: #fff;
    padding-bottom: 15px;
    padding-top: 15px;
    z-index: 500;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.05);
}

.sticky-navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-brand {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem !important;
    color: black;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: black !important;
}

.navbar-brand img {
    height: 80px;
    width: auto;
    image-rendering: -webkit-optimize-contrast;
    margin-top: 5px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23151515' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav li {
    padding: 0;
    padding-left: 20px;
}

.active a {
    color: var(--light-dark) !important;
}

.dropdown-menu li:hover,
.dropdown-menu li a:hover,
.dropdown-menu li a:visited:hover {
    color: var(--light-dark);
    background-color: var(--website-light-yellow);
}

.nav-item ul li {
    padding: 0.5rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

nav ul li a,
nav ul li a:visited {
    text-decoration: none;
    color: var(--gray-hover);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

nav ul li a:hover,
nav ul li a:visited:hover {
    color: var(--light-dark);
}


/*--------------------------------------------------------------
# HEADER SECTION
--------------------------------------------------------------*/

header {
    padding: 2rem 0;
}

header.group {
    background-color: #e5e7e4;
}

header .image {
    height: 15rem;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

header .image.img-top {
    background-position: top;
}

header .image.img-bottom {
    background-position: bottom;
}

header .container {
    letter-spacing: 0.7em;
    height: inherit;
    z-index: 2;
    color: var(--light-dark);
}

header h1 {
    font-weight: 300;
}

header p {
    margin-bottom: 0;
    font-weight: 700;
}


/*--------------------------------------------------------------
# MAIN SECTION
--------------------------------------------------------------*/

main {
    padding-top: 4rem;
    padding-bottom: 4rem;
}


/*--------------------------------------------------------------
# CUSTOM CARD
--------------------------------------------------------------*/

.card {
    border: none;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 0 24px #1b16420a, 0 44px 74px #1b16420f;
    box-shadow: 0 0 24px #1b16420a, 0 44px 74px #1b16420f;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.member img {
    border-radius: 0.5rem;
    max-width: 100%;
    max-width: 100%;
}


/*--------------------------------------------------------------
# TIMELINE 
--------------------------------------------------------------*/

.timeline {
    position: relative;
    /* margin: 50px auto; */
    padding: 2rem 0;
    box-sizing: border-box;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.timeline ul {
    padding: 0;
    margin: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 24px;
    right: -0.55rem;
    background: var(--website-light-yellow);
    border-radius: 50%;
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 24px;
    left: -0.45rem;
    background: var(--website-light-yellow);
    border-radius: 50%;
}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
}

.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    letter-spacing: 0.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    left: calc(100% + 2.5rem);
    /* right: -16rem; */
    margin: 0;
    padding: 8px 16px;
    width: fit-content;
    background: var(--website-light-yellow);
    border-radius: 18px;
}

.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    right: calc(100% + 2.5rem);
    /* left: -16rem; */
    margin: 0;
    padding: 8px 16px;
    width: fit-content;
    background: var(--website-light-yellow);
    border-radius: 18px;
}

@media(max-width:767px) {
    .timeline {
        width: 100%;
        padding-bottom: 0;
    }
    h1 {
        font-size: 40px;
        text-align: center;
    }
    .timeline:before {
        left: 20px;
        height: 100%;
    }
    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }
    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before {
        top: -18px;
        left: 0.8rem;
    }
    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time {
        top: -30px;
        left: 50px;
        right: inherit;
    }
}


/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/

.footer {
    position: relative;
    bottom: 0;
    min-width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
    background-color: var(--light-dark);
    color: #b1b1b1;
    font-weight: 300;
    font-size: 0.9rem;
}

.footer .website-title {
    font-size: 1.5rem;
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
}

.footer li {
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer a {
    color: #b1b1b1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.footer a:hover {
    color: var(--website-light-yellow);
}

.footer-website-description a {
    color: #fff;
    margin-bottom: 1rem;
}

.footer-website-description p {
    line-height: 1.6rem;
}

.quick-links-header {
    font-weight: 700;
    font-size: 1rem;
}


/*--------------------------------------------------------------
# 404 
--------------------------------------------------------------*/

#main-404 {
    padding: 0;
    height: 100%;
    width: 100%;
}

#main-404 .image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    position: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main-404 .row {
    position: relative;
    color: #fff;
    z-index: 500;
}

#main-404 h1 {
    font-weight: 800;
    font-size: 8rem;
}

#main-404 .overlay {
    opacity: 0.4;
}


/*--------------------------------------------------------------
# MEDIA QUERIES
--------------------------------------------------------------*/


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .icon-scroll {
        left: 48%;
    }
    .navbar-brand {
        font-size: 1.5rem !important;
        padding: 0 1rem;
    }
    .dropdown-menu.show {
        border: none;
    }
    .quick-links-header {
        margin-top: 2rem !important;
        margin-bottom: 0.5rem !important;
    }
    header .image {
        height: 6rem;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .icon-scroll {
        left: 46%;
    }
    .dropdown-menu.show {
        border: none;
    }
    .quick-links-header {
        margin-top: 2rem !important;
        margin-bottom: 0.5rem !important;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .icon-scroll {
        left: 49%;
    }
    #jumbotron-text {
        left: 5vw;
    }
    .dropdown-menu.show {
        -webkit-box-shadow: 0px 5px 31px -2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 5px 31px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 5px 31px -2px rgba(0, 0, 0, 0.2);
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .icon-scroll {
        bottom: 80px;
    }
    .quick-links-header {
        margin-top: 0 !important;
        margin-bottom: 1.5rem !important;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}